/*global Settings*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{background-color:#f5f5f5;}
button{background-color:transparent;}

/*Main Container*/
.main-container{
	margin-top:35px;
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
}
.music-image img{width:300px;}
.music-image-preview img{width:200px;opacity:50%;margin-top:50px;}
/*Music Text*/
.music-name{text-align:center;font-family: 'Roboto', sans-serif;color:black;}
/*Music Player*/
.music-player{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.button{cursor:pointer;margin-right:10px;}
.button-1 img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	width:60px;
	padding-bottom:5px;
}
.button-play img{width:50px;padding-bottom:8px;}
.button-3 img{width:60px;padding-bottom:5px;}
.button-plus img{width:40px;padding-bottom:15px;margin-left:10px;margin-right:5px;}
.button-less img{width:60px;padding-bottom:5px;margin-right:5px;}

/*range*/
#ranger{
	margin-left:80px;
}
input[type=range]::-webkit-slider-thumb{
	cursor:pointer;
	border-radius:50%;
}
input[type=range]::-moz-range-thumb{
	cursor:pointer;
	border-radius:50%;
}
input[type=range]::-ms-thumb{
	cursor:pointer;
	border-radius:50%;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 200px;
	height: 15px;
	cursor: pointer;
	background:black;
	border-radius:50%;
}
input[type=range]::-moz-range-track {
	width: 200px;
	height: 15px;
	cursor: pointer;
	background:black;
	border-radius:10px;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 15px;
	cursor: pointer;
	background:black;
	border-radius:10px;
}
